html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* color pack */

:root {
  --primary: #7E98DF;
  --custom-black: #232323;
  --custom-grey: #848484;
  --bg-chat: #f7f7f7;
  --bg-auth: #F6F6F6;
  --custom-green: #40D81A;
  --custom-red: #FF0000;
}

.bg-custom-primary {
  background-color: var(--primary);
  color: white;
}

.bg-outline-custom-primary {
  background-color: white !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary);
}

.color-primary {
  color: var(--primary);
}

.color-red {
  color: var(--custom-red);
}

.control-width-chats {
  width: 0% !important;
}

.control-width-chat {
  width: 100% !important;
}

.control-sidebar-profile {
  display: block !important;
}

@media (min-width: 768px) {
  .control-width-chats {
    width: 50% !important;
  }
  .control-width-chat {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .control-width-chats {
    width: 25% !important;
  }
  .control-width-chat {
    width: 75% !important;
  }
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fonts pack */

@font-face {
  font-family: 'rubix-regular';
  src: url('../public/fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubix-bold';
  src: url('../public/fonts/Rubik-Bold.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubix-semibold';
  src: url('../public/fonts/Rubik-SemiBold.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'speciment';
  src: url('../public/fonts/Thespeciment-JRZAa.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'connie';
  src: url('../public/fonts/Connie-LGWE.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raphtalia';
  src: url('../public/fonts/Raphtalia-2ZmK.ttf');
  font-style: normal;
  font-display: swap;
}